################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/Mobile/ClientApp/bin/Debug
/Mobile/ClientApp/obj/Debug
/Mobile/ClientApp.Droid/bin/Debug
/Mobile/ClientApp.WinPhone/obj/Debug
/Mobile/ClientApp.Windows/obj/Debug
/Mobile/ClientApp.UWP/obj/x86/Debug
/Mobile/ClientApp.iOS/obj/iPhone/Debug
/Mobile/ClientApp.Droid/obj/Debug
/ClientApp/.vs/ClientApp/v14
/ClientApp/ClientApp/ClientApp/bin/Debug
/ClientApp/ClientApp/ClientApp/obj/Debug
/ClientApp/ClientApp/ClientApp.Droid/bin/Debug
/ClientApp/ClientApp/ClientApp.UWP/obj/x86/Debug
/ClientApp/ClientApp/ClientApp.Windows/obj/Debug
/ClientApp/ClientApp/ClientApp.WinPhone/obj/Debug
/ClientApp/packages
/ClientApp/ClientApp.userprefs
/x-devs-hacks.userprefs
/ClientApp/ClientApp/ClientApp.Droid/obj/Debug
