@{
    ViewBag.Title = "NewPickUp";
    Layout = "~/Views/Layout/_Layout.cshtml";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a>Inicio</a></li>
                    <li class="active">Quienes Somos?</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Reportar</h1>
            </div>
        </div>
    </div>
</section>

