@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<style>
    #map {
        display: block; 
        width: 100%;
        height: 80%;
    }
</style>

<div>
    <img src=@Url.Content("~/Shared/img/homeimagen.jpg") style="width:100%; height:440px;"/>
</div>

<div class="">
    <div class="">
        <div id="btnContainer" style="background-color: #0071bc; width: 100%; height:400px;">
        </div>
    </div>
</div>



<div>

</div>
